h1 {
  font-family: monospace;
  font-size: 35px;
  text-align: center;
}

table {
  margin:0 auto;
  text-align:center;
}

.addTask {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addButton {
  border-radius: 8px;
  background-color:lime;
}
