h1 {
  background-color:rgb(160, 153, 153);
  font-family: monospace;
  font-size: 35px;
  margin:0 auto;
  text-align:center;
  width: 60%;
}
main {
  margin-top: 100px;
}

table {
  margin:0 auto;
  text-align:center;
  width: 60%
}

th {
  background-color:cornflowerblue;
  padding: 20px;
  width: 150px;
}

td {
  background-color: rgb(228, 194, 153);
}

td button {
  color: white;
  background-color: red;
  border-radius: 50%;
  border-color:darkslategray;
}

.addTask {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTask input {
  width: 300px;
}

.addTask button {
  border-radius: 5px;
  background-color:lime;
}
